doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title HTML5
    link(rel="stylesheet", href="/css/main.css")
  body
    h1 Vue.js sample
    div#main
      input(v-model='hoge')
    script(src='/js/bundle.js')
